.input-container {
    margin-bottom: 8px;

    .input-title {
        font-weight: 400;
        font-size: 18px;
    }

    .input-wrapper {
        border: 2px solid #8d8d8d;
        margin-top: 2px;
        display: flex;
        border-radius: 5px;
        line-height: 24px;
        transition: 0.1s ease-in-out;
        &:focus-within {
            border: 2px solid var(--primary-bg-color);
        }
        .input-form {
            width: 100%;
            font-size: 16px;

            padding: 2px 4px;
            border: none;

            &:focus {
                outline: none;
                border-color: initial;
                box-shadow: none;
            }
        }

        .icon {
            margin-right: 4px;
            font-size: 22px;
            cursor: pointer;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
}
