@tailwind base;
@tailwind components;
@tailwind utilities;

.apply-btn {
    @apply w-[40%]
    font-semibold
    text-center 
    transition
    border-black border-t-2 border-l-2 border-b-2 
    bg-black
    text-white
    hover:text-black
    hover:bg-transparent

    dark:hover:bg-transparent
    dark:hover:text-white
    dark:border-gray-200  
    dark:bg-gray-200 
    dark:text-black;
}

.checkout-btn {
    @apply w-full
    font-semibold
    text-center 
    transition
    border-black border-2
    bg-black
    text-white
    hover:text-black
    tracking-wider
    hover:bg-transparent

    dark:hover:bg-transparent
    dark:hover:text-white
    dark:border-gray-200  
    dark:bg-gray-200 
    dark:text-black;
}
