@tailwind base;
@tailwind components;
@tailwind utilities;

.title-container {
    @apply transition 
    flex items-center 
    dark:bg-dark-content 
    bg-light-content 
    rounded-lg 
    cursor-pointer 
    px-4 py-4 mb-10;
}

.info-container {
    @apply flex
    mb-5;
}

.user-des {
    @apply w-[30%]
    text-3xl
    font-bold
    dark:text-white
    py-3;
}

.user-info {
    @apply border-2
    bg-transparent
    w-[70%]
    rounded-md
    border-black
    px-4
    py-2
    dark:text-white
    dark:border-white;
}

.update-btn {
    @apply px-4 
    py-2 
    border-2 
    rounded-md
    font-semibold
    tracking-wide
    transition
    border-black

    hover:text-white
    hover:bg-black

    dark:text-white 
    dark:border-white 
    dark:hover:bg-white 
    dark:hover:text-black;
}
