@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Roboto:wght@300;400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$breakpoint-iphone: 376px;
// tablet break point
$breakpoint-tablet-from: 376px;
$breakpoint-tablet-to: 600px;
// ipad break point
$breakpoint-ipad-from: 601px;
$breakpoint-ipad-to: 812px;
// pc break point
$breakpoint-pc-from: 813px;
$breakpoint-pc-to: 1920px;

@mixin respond-to-iphone {
    @media (max-width: $breakpoint-iphone) {
        @content;
    }
}
@mixin respond-to-tablet {
    @media (min-width: $breakpoint-tablet-from) and (max-width: $breakpoint-tablet-to) {
        @content;
    }
}
@mixin respond-to-ipad {
    @media (min-width: $breakpoint-ipad-from) and (max-width: $breakpoint-ipad-to) {
        @content;
    }
}
@mixin respond-to-pc {
    @media (min-width: $breakpoint-pc-from) and (max-width: $breakpoint-pc-to) {
        @content;
    }
}
:root {
    --primary-bg-color: #1473e6;
    --primary-border-color: #1473e6;
    --primary-border-radius: 999px;
    --primary-max-width: 1920px;
    --content-wrapper: 0px 44px 74px 44px;
    --primary-transition: 0.2s ease-in;
}

[data-theme='Dark'] {
    --background: #0f0f0f;
    --text-color: #fff;
    --content-background: #1c1b1b;
    --primary-opacity: 0.8;
    --background-blur-hover: #3c3c3c;
    // Navbar ====================
    --search-navbar-border: #4a4949;
    --search-navbar-border-focus: #e8e8e8;
    // Footer ====================
    --footer-background: #0f0f0f;
    // Tippy =====================
    --tippy-background: #282727;
    // Chapter-list ==============
    --chapter-background: #000;
    --chapter-border: #000;
    // Detail Creator ============
    --detail-creator-course-bg: #313232;
}
[data-theme='Light'] {
    --background: #fff;
    --text-color: #0f0f0f;
    --content-background: #fff;
    --primary-opacity: 1;
    --background-blur-hover: rgb(209, 208, 208);
    // Navbar ====================
    --search-navbar-border: #e8e8e8;
    --search-navbar-border-focus: #2a2a2a;
    // Footer ====================
    --footer-background: #181821;
    // Tippy =====================
    --tippy-background: #fff;
    // Chapter-list ==============
    --chapter-background: #f5f5f5;
    --chapter-border: #ebebeb;
    // Detail Creator ============
    --detail-creator-course-bg: #f9f7f7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    ::-webkit-scrollbar {
        width: 0; /* Set width to zero */
        height: 0; /* Set height to zero */
    }

    /* Pseudo-element to mimic the custom scrollbar */
    ::-webkit-scrollbar-thumb {
        background: #888; /* Change this color to match your design */
        border-radius: 6px;
    }

    /* Pseudo-element on hover to mimic the custom scrollbar thumb */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Change this color to match your design */
    }
}
