@import '../../styles/GlobalStyles.scss';

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background: transparent;
}
.wrapper {
    padding: var(--content-wrapper);
    margin-top: 70px;
    @include respond-to-iphone {
        padding: 0px 0px;
        margin-top: 20px;
    }
}
