.wrapper {
    flex-shrink: 0;

    .container {
        width: 96px;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        left: 0;
        padding: 0 8px;
        position: sticky;
        top: 74px;
        z-index: 8;

        .list-container {
            list-style: none;
            margin-top: 16px;
            .list-item {
                width: 72px;
                height: 72px;
                padding: 2px 0px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 16px;
                align-items: center;
                opacity: 0.8;
                &:hover {
                    background-color: #e8ebed;
                    opacity: 1;
                }
                .title {
                    margin-top: 4px;
                }
            }
        }
    }
}
.link {
    text-decoration: none;
    color: initial;
}
