@import '../../styles/GlobalStyles.scss';

.wrapper {
    flex-shrink: 0;
    background: var(--background);
    transition: var(--primary-transition);
    @include respond-to-iphone {
        display: none;
    }
    .container {
        width: 96px;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        left: 0;
        padding: 0 8px;
        position: sticky;
        top: 74px;
        z-index: 8;

        .list-container {
            list-style: none;
            margin-top: 16px;
        }
    }
}
.link {
    text-decoration: none;
    color: initial;
    margin-bottom: 4px;
}
